div.background{
  display: block;
  position: fixed;
  left:0;
  width: 15vw;
  height: 85vh;
  background-color: black;
  margin: 10px 0px 10px 7px ;
}

.Logo{
  left: 7vw;
  top: 1vh;
  position: fixed;
  width: 10vw;
  height: 8vh;
}


.LogoText{
   display: inline-block;
   position: fixed;
   left: .5vw; 
   top: 3.5vh;
   font-weight: 600;
   font-size: 14px;
   -webkit-transform: rotate(-2
   5deg);
}

@media(max-width: 1015px) {
  .Logo {
    width: 120px;
    height: 46px;
    left: 40px;
  }

  div.background {
    width: 148px;
    left: 3px;
  }

  .LogoText {
    left: 12px;
  }
}

@media(max-height: 400px){
  .Logo{
    height: 32.5px;
  }
}
